* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background: #E5E5E5;
}

.main-text {
  text-align: center;
  padding-top: 120px;
}

.main-title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 36px;
}

.main-description {
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 24px;
  opacity: 0.8;
}

.container {
  width: 700px;
  height: 410px;
  padding: 0 60px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background: linear-gradient(252.44deg, #FFFFFF 0%, #D6D6D6 100%);
  box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.1);
}

.wrap-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  color: #343C41;
}

.form-user-input-box {
  width: 100%;
  padding: 8px 0 8px 18px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  background: linear-gradient(180deg, #BBBBBB -100%, rgba(187, 187, 187, 0) 100%);
}

.form-user-input:not(:last-child) {
  margin-bottom: 20px;
}

.form-user-input-box:hover {
  outline: 1px solid rgba(0, 0, 0, 0.3);
  outline-offset: -2px;
}

.form-user-input-box:focus {
  outline: 2px solid rgba(0, 0, 0, 0.6);
  outline-offset: -3px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.form-user-info-top {
  display: flex;
  justify-content: space-between;
}

.name-input-box,
.lastname-input-box {
  width: 280px;
}

.btn {
  width: 170px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #3d444b;
  border-radius: 3px;
  color: #fff;
  background: #5B6871;
  transition: all 0.2s ease;
}

.btn:hover {
  border-bottom: 2px solid #5B6871;
  opacity: 0.9;
  cursor: pointer;
}

.btn:active {
  background: #343C41;
  border-bottom: 2px solid #343C41;
}
