* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(71.43% 85.97% at 71.43% 50%, #FFFFFF 0%, #C0C0C0 100%);
}

a {
  text-decoration: none;
}

.container {
  width: 1560px;
  margin: 0 auto;
}

.header {
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.5px 0.5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(90.13deg, #BBBBBB 7.81%, rgba(187, 187, 187, 0.25) 25.75%, rgba(187, 187, 187, 0.25) 100%);
  backdrop-filter: blur(20px);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.nav-links-item {
  display: inline-block;
}

.nav-links-item:not(:last-child) {
  padding-right: 100px;
}

.nav-link {
  font-size: 24px;
  font-weight: 600;
  color: #3A3A3A;
}

.nav-link:hover {
  color: 2px#5B6871;
  opacity: 0.7;
}

.site-name {
  padding-left: 60px;
  padding-bottom: 5px;
  font-size: 48px;
  font-weight: 500;
  color: #3A3A3A;
  background-image: url('../img/logo.png');
  background-position-x: -19px;
  background-position-y: center;
  background-size: 80px 80px;
  background-repeat: no-repeat;
}

.bold {
  font-weight: 700;
}

.section-stone-wrap {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.section-stone-content {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.section-stone-description {
  width: 800px;
  font-size: 90px;
  font-weight: 500;
  color: #3A3A3A;
}

.section-stone-scroll {
  text-align: center;
}

.section-stone-scroll-text {
  border-bottom: 1px solid #3A3A3A;
  padding: 0 100px 25px  100px;
  font-size: 30px;
  font-weight: 300;
  color: #3A3A3A;
}
