{{define "index"}}
<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoneMarket - Всё началось с камня</title>
    <link rel="stylesheet" href="../static/css/common/global.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body class="body">

  <header class="header">
    <div class="container header__container">
      <div class="header__logo logo">
        <a class="logo__name" href="/">
          StoneMarket
        </a>
      </div>
      <nav class="header__menu menu-header">
        <ul class="menu-header__list list-reset">
          <li class="menu-header__item">
            <a class="menu-header__link" href="#">
              Сундуки
            </a>
            <a class="menu-header__link" href="#">
              Информация
            </a>
            <a class="menu-header__link" href="#">
              Ещё что-то
            </a>
            <a class="menu-header__link" href="#">
              Пока хз что
            </a>
          </li>  
        </ul>
      </nav>
      {{ if .show_block }}
        <div class="header__user user">
          <div class="user__name">
            Hello, {{ .firstname }} {{ .lastname }}
          </div>
          <div class="user__avatar">
            <span class="user-img"></span>
          </div>
        </div>
        <button class="burger btn-reset" id="burger">
          <svg class="user__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
            <g transform="matrix(3.4285714285714284,0,0,3.4285714285714284,0,0)"><path d="M.5,3.85,6.65,10a.48.48,0,0,0,.7,0L13.5,3.85"></path></g>
          </svg>
        </button>
        <nav class="user__menu user__menu_hidden menu-user" id="user__menu">
          <ul class="menu-user__list list-reset">
            <li class="menu-user__item">
              <a class="menu-user__link" href="#">
                Настройки
              </a>
            </li>
            <li class="menu-user__item">
              <a class="menu-user__link" href="../static/css/cabinet.css">
                Личный кабинет
              </a>
            </li>
            <li class="menu-user__item">
               <a class="menu-user__link" href="/quit">Выйти</a>
            </li>
          </ul>
        </nav>
      {{ else }}
        <div class="header__sign-in sign-in">
          <a class="sign-in__link" href="/signin" >
            Войти
          </a>
        </div>
      {{ end }}
    </div>
  </header>

  <main class="main">

    <section class="hero">
      <div class="container hero__container">
        <div class="hero__left">
          <div class="hero__content">
            <h2 class="hero__title">
              Всё началось с камня
            </h2>
            <p class="hero__description description">
              Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо своего оксмокс переписывается сих единственное? Над он свой вопрос раз путь рукопись семантика одна вдали всемогущая языкового? Необходимыми эта если реторический имеет.
            </p>
            <div class="hero__img">
              <p class="img_text description">Здесь должны были быть крутые арты, но я не умею рисовать.</p>
            </div>
          </div> 
        </div>
        <div class="hero__right">
          <div class="hero__content">
            <div class="hero__img">
              <p class="img_text description">Здесь должны были быть крутые арты, но я не умею рисовать.</p>
            </div>
            <h2 class="hero__title">
              Какой-то заголовок
            </h2>
            <p class="hero__description description">
              Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо своего оксмокс переписывается сих единственное? Над он свой вопрос раз путь рукопись семантика одна вдали всемогущая языкового? Необходимыми эта если реторический имеет.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="cards">
      <div class="container cards__container">
        <h2 class="section__title title">Камни</h2>
        <ul class="card__list list-reset">
          <li class="card ancient">
            <div class="side1">
              <img class="card__img" src="../static/images/emerald.png" alt="Изумруд">
            </div>
            <div class="side2">
              <h3 class="card__name">
                Изумруд
              </h3>
              <p class="card__desc">
                Камень, способный перевернуть историю.
              </p>
              <div class="card__rare">
                Ancient
              </div>
              <div class="buy">
                <button class="btn btn-reset">Купить</button>
                <div class="item-price">12.000.000 C</div>
              </div>
            </div>
          </li>
          <li class="card arcana">
            <div class="side1">
              <img class="card__img" src="../static/images/ruby.png" alt="Рубин">
            </div>
            <div class="side2">
              <h3 class="card__name">
                Рубин
              </h3>
              <p class="card__desc">
                Камень, способный перевернуть историю и жопу Антона.
              </p>
              <div class="card__rare">
                Arcana
              </div>
              <div class="buy">
                <button class="btn btn-reset">Купить</button>
                <div class="item-price">5.850.000 C</div>
              </div>
            </div>
          </li>
          <li class="card arcana">
            <div class="side1">
              <img class="card__img" src="../static/images/sapphire.png" alt="Сапфир">
            </div>
            <div class="side2">
              <h3 class="card__name">
                Сапфир
              </h3>
              <p class="card__desc">
                Поговаривают он может превратить воду в водку.
              </p>
              <div class="card__rare">
                Arcana
              </div>
              <div class="buy">
                <button class="btn btn-reset">Купить</button>
                <div class="item-price">6.220.000 C</div>
              </div>
            </div>
          </li>
          <li class="card immortal">
            <div class="side1">
              <img class="card__img" src="../static/images/aquamarin.png" alt="Аквамарин">
            </div>
            <div class="side2">
              <h3 class="card__name">
                Аквамарин
              </h3>
              <p class="card__desc">
                Сияет ярче утренней мочи.
              </p>
              <div class="card__rare">
                Immortal
              </div>
              <div class="buy">
                <button class="btn btn-reset">Купить</button>
                <div class="item-price">3.624.040 C</div>
              </div>
            </div>
          </li>
          <li class="card legendary">
            <div class="side1">
              <img class="card__img" src="../static/images/eremeevit.png" alt="Еремеевит">
            </div>
            <div class="side2">
              <h3 class="card__name">
                Еремеевит
              </h3>
              <p class="card__desc">
                Из него можно сделать шаурму.
              </p>
              <div class="card__rare">
                Legendary
              </div>
              <div class="buy">
                <button class="btn btn-reset">Купить</button>
                <div class="item-price">2.750.300 C</div>
              </div>
            </div>
          </li>
          <li class="card mythical">
            <div class="side1">
              <img class="card__img" src="../static/images/lapis-lazuli.png" alt="Лазурит">
            </div>
            <div class="side2">
              <h3 class="card__name">
                Лазурит
              </h3>
              <p class="card__desc">
                Да это же... АЛМА!!!... ой, это всего лишь Лазурит.
              </p>
              <div class="card__rare">
                Mythical
              </div>
              <div class="buy">
                <button class="btn btn-reset">Купить</button>
                <div class="item-price">1.520.000 C</div>
              </div>
            </div>
          </li>
          <li class="card rare">
            <div class="side1">
              <img class="card__img" src="../static/images/heliotrope.png" alt="Гелиотроп">
            </div>
            <div class="side2">
              <h3 class="card__name">
                Гелиотроп
              </h3>
              <p class="card__desc">
                Он появился откололся от Охоты Крепкое, когда в него попала гроза.
              </p>
              <div class="card__rare">
                Rare
              </div>
              <div class="buy">
                <button class="btn btn-reset">Купить</button>
                <div class="item-price">712.550 C</div>
              </div>
            </div>
          </li>
          <li class="card uncommon">
            <div class="side1">
              <img class="card__img" src="../static/images/amber.png" alt="Янтарь">
            </div>
            <div class="side2">
              <h3 class="card__name">
                Янтарь
              </h3>
              <p class="card__desc">
                Из него делают Жигулёвское.
              </p>
              <div class="card__rare">
                Uncommon
              </div>
              <div class="buy">
                <button class="btn btn-reset">Купить</button>
                <div class="item-price">200.000 C</div>
              </div>
            </div>
          </li>
          <li class="card common">
            <div class="side1">
              <img class="card__img" src="../static/images/hatat.png" alt="Гатат">
            </div>
            <div class="side2">
              <h3 class="card__name">
                Гатат
              </h3>
              <p class="card__desc">
                Погаваривают, что этот камень любит есть в KFC и играет в баскетбол.
              </p>
              <div class="card__rare">
                Common
              </div>
              <div class="buy">
                <button class="btn btn-reset">Купить</button>
                <div class="item-price">12.600 C</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

  </main>

  <script src="../static/js/main.js"></script>
</body>
</html>
{{ end }}