/* Cabinet */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

.page {
  font-family: 'Rubik', sans-serif;
}

.body {
  background: var(--color-bg)
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1000px;
}

/* Header */
.header {
  height: 80px;
}

.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo__name {
  letter-spacing: -5px;
  font-size: 40px;
  font-weight: 600;
  color: var(--color-primary-dark);
}

/* Cabinet */
.cabinet__title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-primary);
}

.cabinet__wrapper {
  display: flex;
  /* justify-content: space-between; */
}

.cabinet__nav {
  margin-right: 20px;
}

.cabinet-nav {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-bg-dark);
}

.cabinet-nav__item {
  position: relative;
}

.cabinet-nav__item:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-bg-darker);
}

.cabinet-nav__item_active::before {
  content: '';
  position: absolute;
  top: 0;
  left: -23px;
  height: 70%;
  border-left: 3px solid var(--color-accent-dark);
  border-radius: 5px 0 0 5px;
}

.cabinet-nav__icon {
  display: inline-block;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  fill: none;
  stroke: var(--color-primary-dark);
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke .3s ease;
}

.cabinet-nav__link {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-primary-dark);
  transition: color .3s ease;
}

.cabinet-nav__link:hover .cabinet-nav__icon {
  stroke: var(--color-accent);
}

.cabinet-nav__link:hover {
  color: var(--color-accent);
}

.cabinet__content {
  flex: 1;
  height: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-bg-dark);
}

.cabinet__tagline {
  font-size: 32px;
  font-weight: 600;
  color: var(--color-primary-dark);
}

.coming-soon {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  height: 90%;
  font-size: 20px;
  color: var(--color-white);
  background-color: var(--color-accent);
  border-radius: 10px;
}