{{define "chest"}}
<div class="container-xl chests__container">
    <h2 class="chests__title title">Сундуки</h2>
    <ul class="chests__list list-reset">
{{range .}}
        <li class="chests__item {{.Chest}}">
        <div class="chest__top">
          <img class="chest__img" src="{{.URL}}" alt="{{.Name}}">
        </div>
        <div class="chest__bottom">
          <div class="chest__name">{{.Name}}</div>
          <div class="chest__buy">
            <button class="chest__buy-btn btn-reset">Купить</button>
          </div>
        </div>
      </li>
{{end}}
    </ul>
  </div>
{{end}}