<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoneMarket - Всё началось с камня</title>
    <link rel="stylesheet" href="static/css/common/global.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body class="body">

  <header class="header">
    <div class="container header__container">
      <div class="header__logo logo">
        <a class="logo__name" href="/">
          StoneMarket
        </a>
      </div>
      <nav class="header__menu menu-header">
        <ul class="menu-header__list list-reset">
          <li class="menu-header__item">
            <a class="menu-header__link" href="#">
              Сундуки
            </a>
            <a class="menu-header__link" href="#">
              Информация
            </a>
            <a class="menu-header__link" href="#">
              Ещё что-то
            </a>
            <a class="menu-header__link" href="#">
              Пока хз что
            </a>
          </li>  
        </ul>
      </nav>
      {{ if .show_block }}
        <div class="header__user user">
          <div class="user__name">
            Hello, {{ .firstname }} {{ .lastname }}
          </div>
          <div class="user__avatar">
            <span class="user-img"></span>
          </div>
        </div>
        <button class="arrow btn-reset" id="arrow">
          <svg class="user__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
            <g transform="matrix(3.4285714285714284,0,0,3.4285714285714284,0,0)"><path d="M.5,3.85,6.65,10a.48.48,0,0,0,.7,0L13.5,3.85"></path></g>
          </svg>
        </button>
        <nav class="user__menu menu-user" id="user__menu">
          <ul class="menu-user__list list-reset">
            <li class="menu-user__item">
              <a class="menu-user__link" href="#">
                Настройки
              </a>
            </li>
            <li class="menu-user__item">
              <a class="menu-user__link" href="/cabinet">
                Личный кабинет
              </a>
            </li>
            <li class="menu-user__item">
               <a class="menu-user__link" href="/quit">Выйти</a>
            </li>
          </ul>
        </nav>
      {{ else }}
        <div class="header__sign-in sign-in">
          <a class="sign-in__link" href="/signin" >
            Войти
          </a>
        </div>
      {{ end }}
    </div>
  </header>

  <main class="main">

    <section class="hero">
      <div class="container hero__container">
        <div class="hero__left">
          <div class="hero__content">
            <h2 class="hero__title">
              Всё началось с камня
            </h2>
            <p class="hero__description description">
              Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо своего оксмокс переписывается сих единственное? Над он свой вопрос раз путь рукопись семантика одна вдали всемогущая языкового? Необходимыми эта если реторический имеет.
            </p>
            <div class="hero__img">
              <p class="img_text description">Здесь должны были быть крутые арты, но я не умею рисовать.</p>
            </div>
          </div> 
        </div>
        <div class="hero__right">
          <div class="hero__content">
            <div class="hero__img">
              <p class="img_text description">Здесь должны были быть крутые арты, но я не умею рисовать.</p>
            </div>
            <h2 class="hero__title">
              Какой-то заголовок
            </h2>
            <p class="hero__description description">
              Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо своего оксмокс переписывается сих единственное? Над он свой вопрос раз путь рукопись семантика одна вдали всемогущая языкового? Необходимыми эта если реторический имеет.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="cards">
      <div class="container cards__container">
        <h2 class="section__title title">Камни</h2>
          {{template "stone"}}
      </div>
    </section>

  </main>

  <script src="static/js/main.js"></script>
</body>
</html>