<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoneMarket - Всё началось с камня</title>
    <link rel="icon" href="static/images/common/sm-icon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body class="page__body page__body_theme_light">
    <header class="header">
      <div class="container-xl header__container">
        <a class="header__logo logo" href="/">
          <div class="logo__name"><span class="first-letter">S</span>tone<span class="first-letter">M</span>arket</div>
        </a>
        <nav class="header__nav nav">
          <ul class="nav__list list-reset">
            <li class="nav__item"><a class="nav__link" href="#">Сундуки</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Информация</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Ещё что-то</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Пока хз что</a></li>
          </ul>
        </nav>
        {{ if .Block.Show_block }}
          <div class="header__user user">
            <div class="user__name">Привет, {{ .Block.Firstname }}!</div>
            <div class="user__avatar avatar">
              <span class="avatar__img"></span>
            </div>
            <button class="arrow btn-reset">
              <svg class=arrow__icon xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <g transform="matrix(3.4285714285714284,0,0,3.4285714285714284,0,0)">
                  <path d="M.5,3.85,6.65,10a.48.48,0,0,0,.7,0L13.5,3.85"></path>
                </g>
              </svg>
            </button>
          </div>  
          <nav class="user__menu menu-user">
            <ul class="menu-user__list list-reset">
              <li class="menu-user__item"><a class="menu-user__link" href="/settings">Настройки</a></li>
              <li class="menu-user__item"><a class="menu-user__link" href="/cabinet">Личный кабинет</a></li>
              <li class="menu-user__item"><a class="menu-user__link" href="/quit">Выйти</a></li>
            </ul>
          </nav>
        {{ else }}
          <div class="header__sign-in sign-in">
            <a class="sign-in__link" href="/signin">Войти</a>
          </div>
        {{ end }}
      </div>
    </header>
    <main class="main">
      <section class="hero">
        <div class="container-xl hero__container">
          <div class="hero__content">
            <div class="hero__left">
              <h1 class="hero__title">Всё началось с камня</h1>
              <p class="hero__desc">Попробуйте взглянуть на мир с точки зрения камня. Он существует вне нашего времени. Человеческая жизнь для него лишь мгновение, ведь камни которые вы можете видеть перед собой, были частью этого мира десятки, а то и сотни миллионов лет, и будут его частью столько же. Да, человек, обладая арсеналом инструментов может превратить случайный камень в пыль, но так он лишит его только физической формы. Пройдёт достаточно времени и различных геологических процессов, но в итоге всё что мы видим обратится в осадочную породу, и останки людей не исключение. Камень есть альфа и омега, с него всё началось и всё в него обратится, иными словами, камни есть вечность.</p>
            </div>
            <div class="hero__right">
              <div class="hero__img">
                <p class="text">Здесь должны были быть крутые арты, но я не умею рисовать.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="cards">
        {{ template "stone" .StoneShop }}
      </section>
    </main>
    <script src="static/js/index.js"></script>
    <script src="static/js/theme-toggle.js"></script>
  </body>
</html>