<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoneMarket - Всё началось с камня</title>
    <link rel="stylesheet" href="static/css/common/global.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body class="body">

  {{template "header"}}

  <main class="main">

    <section class="hero">
      <div class="container hero__container">
        <div class="hero__left">
          <div class="hero__content">
            <h2 class="hero__title">
              Всё началось с камня
            </h2>
            <p class="hero__description description">
              Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо своего оксмокс переписывается сих единственное? Над он свой вопрос раз путь рукопись семантика одна вдали всемогущая языкового? Необходимыми эта если реторический имеет.
            </p>
            <div class="hero__img">
              <p class="img_text description">Здесь должны были быть крутые арты, но я не умею рисовать.</p>
            </div>
          </div> 
        </div>
        <div class="hero__right">
          <div class="hero__content">
            <div class="hero__img">
              <p class="img_text description">Здесь должны были быть крутые арты, но я не умею рисовать.</p>
            </div>
            <h2 class="hero__title">
              Какой-то заголовок
            </h2>
            <p class="hero__description description">
              Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Прямо своего оксмокс переписывается сих единственное? Над он свой вопрос раз путь рукопись семантика одна вдали всемогущая языкового? Необходимыми эта если реторический имеет.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="cards">
      <div class="container cards__container">
        <h2 class="section__title title">Камни</h2>
        <ul class="card__list list-reset">
          {{template "stone"}}
        </ul>
      </div>
    </section>
  </main>

  <script src="static/js/main.js"></script>
</body>
</html>