{{define "stone"}}
{{range $key, $value := .}}
<li class="card {{$value.Rare}}">
  <div class="side1">
    <img class="card__img" src="{{$value.URL}}" alt="{{$value.Name}}">
  </div>
  <div class="side2">
    <h3 class="card__name">
      {{$value.Name}}
    </h3>
    <p class="card__desc">
      {{$value.Description}}
    </p>
    <div class="card__rare">
      {{$value.Rare}}
    </div>
    <div class="buy">
      <button class="btn btn-reset">Купить</button>
      <div class="item-price">{{$value.Price}} C</div>
    </div>
  </div>
</li>
{{end}}
{{end}}